useDynLib(nbRegQF, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(BayesLogit, rpg)
import(Matrix)
import(MASS)
import(truncnorm)
import(igraph)
import(quadprog)
export(fit.health.knownquan)
export(fit.exposure)
export(exposure.prior)
export(fit.health.quan.errors)
export(quan.fun)
export(den.fun)
export(get_beta_bernstein)